@import '../../styles/vars.scss';

.portfolioList {
    display: flex;
    padding: 40px 0px;
}

.card {
    border: 1px solid $border-color;
    box-shadow: 0 0 10px rgba(59, 56, 56, 0.856);
    border-radius: 7px;
    color: $txt-color;
    text-align: center;
}


.cardBody {
    background: $side-color;
}

.cardBtn {
    background-color: $btn-color;
    border: none;
    width: 70%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    color: $txt-color;

    &:hover {
        background-color: $uppercase;
        outline: none;
        border: none;
    }
    &:focus{
        outline: none;
    }
}