@import '../../styles/vars.scss';

.portfolioList {
    display: flex;
    padding: 40px 0px;
}

.card {
    border: 1px solid $border-color;
    box-shadow: 0 0 10px rgba(59, 56, 56, 0.856);
    border-radius: 7px;
    color: $txt-color;
    text-align: center;
    img {
        max-height: 300px;
        min-height: 300px;
        max-width: 100%;
        min-width: 100%;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
}


.cardBody {
    background: $side-color;
    padding: 15px;
}

.cardBtn {
    background-color: $btn-color;
    border: none;
    width: 70%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    color: $txt-color;
    margin-top: 15px;
    

    &:hover {
        background-color: $uppercase;
        outline: none;
        border: none;
    }
    &:focus{
        outline: none;
    }
}

.icon {
    margin: 0px 5px;
    color: $uppercase;
    width: 25px;
    height: 25px;
}