@import '../../styles/vars.scss';

.iconLine {
    display: flex;
    justify-content: center;
    align-items: center;

    &:before,
    &:after {
        content: "";
        width: 40px;
        height: 1px;
        background: linear-gradient(to left, #fa9b1b 7%, #dca52e 93%);
    }
}


.title {
    padding-top: 10px;
    color: $uppercase;
    text-transform: uppercase;
    text-align: center;
}