@import './vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Loved+by+the+King&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Averia Sans Libre', cursive;
  background: $bg-color;
}

a{
  text-decoration:none;
  color: inherit;
  font-size: 20px;
  &:hover{
    color: $txt-color;
    text-decoration: none;
  }
}
