$bg-color: #1c1c1d;
$txt-color: #f9f9f9;
$uppercase: #dc9624;
$line-color: #313131;
$side-color: #393737;
$border-color: #575252;
$border-color-2: #7a7373;
$btn-color: #B95F89;
$error-color: rgb(224, 19, 15);