@import '../../styles/vars.scss';

.aboutInfo {
    color: $txt-color;
    width: 100%;
    background-color: $side-color;
    padding: 20px;
    border: 2px solid $border-color;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(59, 56, 56, 0.856);
}

.aboutInfo img {
    width: 100%;
    border: 5px solid $border-color-2;
}

.aboutTitle {
    padding: 15px 5px;
    font-size: 29px;
    text-align: center;
    border-bottom: 1px solid $uppercase;
    span {
        color: $uppercase;
    }
}

.aboutText {
    font-size: 17px;
    text-align: unset;
    line-height: 30px;
    text-align: justify;
    margin-top: 10px;
    word-wrap: break-word;
}

.title {
    padding-top: 10px;
    color: $uppercase;
    text-transform: uppercase;
    text-align: center;
}

.icon {
    margin: 0px 5px;
    color: $uppercase;
    width: 25px;
    height: 25px;
}

.skillBar {
    color: $txt-color;
    text-align: center;
    padding: 20px 0px;
    min-width: 80px;
}

.prog {
    color: $txt-color;
    padding-top: 10px;
    font-size: 16px;
}