@import '../../styles/vars.scss';

.aboutInfo {
    color: $txt-color;
    width: 100%;
    background-color: $side-color;
    padding: 20px;
    border: 2px solid $border-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.aboutInfo img {
    width: 100%;
    border: 5px solid $border-color-2;
}

.title {
    color: $uppercase;
    text-transform: uppercase;
    text-align: center;
}

.iconLine {
    display: flex;
    justify-content: center;
    align-items: center;

    &:before,
    &:after {
        content: "";
        width: 40px;
        height: 1px;
        background: linear-gradient(to left, #fa9b1b 7%, #dca52e 93%);
    }
}

.icon {
    margin: 0px 5px;
    color: $uppercase;
    width: 20px;
    height: 20px;
}

.skillBar {
    color: $txt-color;
    text-align: center;
    padding: 20px;
    width: 150px;
}

.prog {
    color: $txt-color;
    padding-top: 10px;
    font-size: 16px;
}