@import '../../styles/vars.scss';

.sidebar {
    width: 260px;
    min-height: 100vh;
    background: $line-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid $border-color;
}

.avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10%;
    margin-bottom: 20px;
    margin-top: 30px;
}

.name{
    font-size: calc( (100vw - 480px)/(1280 - 480) * (20 - 10) + 16px);
    font-weight: bold;
    color: $txt-color;
    margin-bottom: 50px;
}

.upper{
    color: $uppercase;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 80px;
}

.social-icon{
    color: $txt-color;
    &:hover {
        color: $uppercase;
        cursor: pointer;
    }
}

.nav{
    border-bottom: 1px solid $border-color;
    width: 100%;
    padding: 10px 20px 10px 20px;
    color: $txt-color;
    transition: opacity ease 2s;
}

.link {
    transition: opacity ease 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    &:hover {
        color: $uppercase;
    }
    & + .navIcon {
        opacity: 0;
    }
}

.active {
    transition: opacity ease 0.5s;
    & + .navIcon {
        animation: link 0.5s ease;
        opacity: 1;
    }
    &::after {
        content: "";
        width: 40px;
        height: 1px;
        background: linear-gradient(to left, #fa9b1b 7%, #dca52e 93%);
        margin-left: 10px;
    }
}

@keyframes link{
    from{
        opacity: 0;
        transform: translateX(-20px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.navIcon {
    margin-left: 20px;
    width: 22px;
    height: 22px;
    color: $uppercase;
}