@import '../../styles/vars.scss';

.sidebar {
    width: 260px;
    min-height: 100vh;
    background: $line-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid $border-color;
}

.avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10%;
    margin-bottom: 20px;
    margin-top: 30px;
}

.name{
    font-size: calc( (100vw - 480px)/(1280 - 480) * (20 - 10) + 16px);
    font-weight: bold;
    color: $txt-color;
    margin-bottom: 50px;
}

.upper{
    color: $uppercase;
}

.social {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-top: 50px;
}

.social-icon{
    color: $txt-color;
    &:hover {
        color: $uppercase;
        cursor: pointer;
    }
}

.nav{
    border-bottom: 1px solid $border-color;
    width: 100%;
    padding: 10px 0px 10px 20px;
    color: $txt-color;
}

.link {
    transition: transform ease 0.4s;
    &:hover{
        transform: translateX(10px);
    }
}

.active{
    color:$uppercase;
    transform: translateX(10px);
}