@import '../../styles/vars.scss';

.content {
    width: 100%;
    padding: 40px 0px;
}

.contact-item {

    &:hover {
        transform: scale(1.1);
    }
}

.phone {}

.adr {}

.ava {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}


.contactInfo {
    padding: 30px;
    display: flex;
}

.contactImg {
    width: 220px;
    height: 300px;
    border-radius: 15px;
    margin-right: 20px;
}

.contactAbout {
    color: $txt-color;
}

.contactText {
    border: 1px solid $txt-color;
    padding: 15px;
    border-radius: 10px;
}

.form {
    background: $side-color;
    padding: 20px;
    border: 1px solid $border-color;
    box-shadow: 0 0 10px rgba(59, 56, 56, 0.856);
    border-radius: 7px;
    color: $txt-color;
    text-align: center;

    input,
    textarea {
        background: $border-color;
        color: $txt-color;
        border: none;
    }

    input:focus,
    textarea:focus {
        box-shadow: none;
        background: $border-color;
        color: $txt-color;
    }

    input::placeholder,
    textarea::placeholder {
        color: $txt-color;
    }

}

.formGroup {
    margin-bottom: 0px;
}

.formBtn {
    border: none;
    background: $btn-color;
    color: $txt-color;
    padding: 10px;
    border-radius: 5px;
    width: 80%;

    &:focus {
        outline: none;
    }

    &:hover {
        color: $txt-color;
        background: $uppercase;
        cursor: pointer;
    }
}