@import '../../styles/vars.scss';


.addBtn {
    border: none;
    background: none;
    position: fixed;
    z-index: 1000;
    top: -5px;
    right: 10px;

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: 0.6;
    }

    .icon {
        color: $uppercase;
        width: 35px;
    }
}

.contact-item {
    background-color: $side-color;
    border: 2px solid $border-color;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(59, 56, 56, 0.856);
    text-align: center;
    height: 400px;
    transition: transform ease 0.3s;
    color: $txt-color;
    line-height: 40px;
    font-size: 16px;

    &:hover {
        transform: scale(1.03);
    }

    .name {
        color: $uppercase;
        font-size: 20px;
    }
}

.ava {
    width: 100%;
    height: 250px;
    object-fit: cover;
}



.contactImg {
    height: 500px;
    border-radius: 5px;
}

.contactAbout {
    color: $txt-color;
    line-height: 35px;
    text-align: justify;
}

.contactName {
    color: $uppercase;
    font-size: 20px;
}

.contactDesc {
    margin-top: 20px;
}

.contactSocial {
    width: 200px;
}

.form {
    background: $side-color;
    padding: 20px;
    border: 1px solid $border-color;
    box-shadow: 0 0 10px rgba(59, 56, 56, 0.856);
    border-radius: 7px;
    color: $txt-color;
    text-align: center;

    input,
    textarea {
        background: $border-color;
        color: $txt-color;
        border: none;
    }

    input:focus,
    textarea:focus {
        box-shadow: none;
        background: $border-color;
        color: $txt-color;
    }

    input::placeholder,
    textarea::placeholder {
        color: $txt-color;
    }

}

.formGroup {
    margin-bottom: 0px;
}

.formBtn {
    border: none;
    background: $btn-color;
    color: $txt-color;
    padding: 10px;
    border-radius: 5px;
    width: 80%;

    &:focus {
        outline: none;
    }

    &:hover {
        color: $txt-color;
        background: $uppercase;
        cursor: pointer;
    }
}



.error {
    height: 30px;
    color: $error-color;
}