@import '../../styles/vars.scss';

.text {
    color: $txt-color;
    font-size: 30px;
    margin-bottom: 30px;
}

.link {
    color: $uppercase;
    margin-bottom: 30px;
}

.img {
    width: 80%;
    padding-bottom: 30px;
    border-radius: 10px;
}