.header {
    height: 130px;
    padding: 60px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a{
        font-size: 25px;
        transition: transform ease 0.4s;
        &:hover{
            transform: scale(1.2);
        }
    }

    .active-link {
        border-bottom: 2px solid #f9f9f9;
    }
}

